<!DOCTYPE html>
<html lang="en-US"">
  {{> head}}
  <body>
    <main class="main-scene" role="main">
      <div id="screen" class="placeholder positioned" style="width: 900px; height: 720px;"></div>

      <div class="positioned gradient" style="left: 900px; height: 100%; right: 0">
        <div id="cam" class="placeholder positioned" style="width: 100%; height: 240px;"></div>
        <div class="positioned fade-bottom" style="top: 240px; width: 100%; height: 380px; padding: 10px 20px">
          <div style="font-size: 24px; text-align: center">{{title}}</div>
          <p>{{summary}}</p>

          {{#schedule}}
            <h3>Schedule</h3>

            <ul class="schedule highlight-first">
              {{#upcoming}}
                <li>{{#time}}{{time}}: {{/time}}{{description}}</li>
              {{/upcoming}}
            </ul>
          {{/schedule}}
        </div>

        {{> charity}}
      </div>
    </main>
  </body>
</html>
