<!DOCTYPE html>
<html lang="en-US"">
  {{>head}}
  <body>
    <main class="main-scene gradient" role="main">
      <div class="positioned" style="left: 200px; right: 200px; text-align: center">
        <h1 class="project-name">Thanks for watching!</h1>
        <h2>{{title}}</h2>

        <div>Learn more about Elm: <a href="https://guide.elm-lang.org">https://guide.elm-lang.org</a></div>

        <br/>
        <br/>

        @avh4

      </div>
      {{#charity}}
        <div class="positioned" style="bottom: 20px; left: 0; right: 0; font-size: 20px; padding: 10px; text-align: center">
          <span class="dim">Today's charity:</span> {{name}}<br/>
          <div style="font-size:80%; line-height:1.1; padding: 5px">
            <i>{{description}}</i>
          </div>
          <span class="dim">Donate at</dim> <a>{{donateLink}}</a>
        </div>
      {{/charity}}
    </main>
  </body>
</html>
