{{#charity}}
  <div class="positioned" style="bottom: 0; height: 120px; font-size: 20px; padding: 20px">
    <span class="dim">Today's charity:</span> {{name}}<br/>
    <span class="dim">Donate at</dim> <a>{{donateLink}}</a>
  </div>
{{/charity}}