.main-scene {
  position: absolute;
  width: 1280px;
  height: 720px;

  color: #fff;
  font-size: 30px;
}

.gradient {
  background-color: #159957;
  background-image: linear-gradient(140deg, #155799, #159957);
}

.positioned {
  position: absolute;
}

.placeholder {
  border: 1px solid gray;
}

a {
  color: #b9dcff;
}

.main-scene p {
  font-size: 22px;
  margin: 5px 0;
}

.main-scene h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.main-scene ul {
  margin-top: 5px;
  font-size: 18px;
  line-height: 1.2;
  list-style: none;
  padding-left: 15px;
}

.main-scene li {
  margin-bottom: 5px;
}

ul.schedule li:first-child {
  color: #fdbcff;
}

ul.large-schedule {
  padding-left: 10em;
  padding-right: 8em;
  margin-top: 20px;
  font-size: 22px;
}

ul.large-schedule li {
  margin-bottom: 15px;
  position: relative;
}

ul.large-schedule b.schedule {
  display: inline-block;
  position: absolute;
  left: -6.5em;
}

.fade-bottom {
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, color-stop(80%, rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.dim {
  opacity: 0.8;
}
